<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ fontName }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px 20px;
            text-align: center;
        }

        .preview {
            width: 100px;
            display: inline-block;
            margin: 10px;
        }

        .preview .inner {
            display: inline-block;
            width: 100%;
            text-align: center;
            background: #f5f5f5;
            -webkit-border-radius: 3px 3px 0 0;
            -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
        }

        .preview .inner {{ baseTag }} {
            line-height: 85px;
            font-size: 40px;
            color: #333;
        }

        .label {
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            padding: 5px;
            font-size: 10px;
            font-family: Monaco, monospace;
            color: #666;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #ddd;
            -webkit-border-radius: 0 0 3px 3px;
            -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
        }

        {{{ styles }}}

    </style>
</head>

<body>
    <h1>Font: {{ fontName }}</h1>

    {{# each names }}

        <div class="preview" title="{{ ../classPrefix }}{{ this }}">
            <span class="inner">
                <i class="{{ ../fontName }} {{ ../classPrefix }}{{ this }}"></i>
            </span>
            <br>
            <span class="label"><strong>{{ ../classPrefix }}{{ this }}</strong></span>
        </div>

    {{/ each }}

</body>

</html>